{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <p>Hello my friend {{ user.username }}!</p>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log-out</button>
        </form>

        <br><a href="{% url 'post_create' %}"><button>
            New post
        </button></a>

        {% for post in post_list %}
            <a href="{% url 'post_detail' post.pk %}"><h1>{{ post.title }}</h1></a>
            <p>{{ post.body }}</p>
        {% endfor %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log-in</a>
    {% endif %}

{% endblock content %}